.about {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  z-index: 4;

  &__title {
    transform: rotate(-90deg);
    position: relative;
    bottom: 50px;

    .title {
      margin-left: 40px;
      margin-right: 40px;
    }

    span {
      font-family: 'Bodoni';
      font-size: 80px;
      color: #E79898;
    }
  }

  &__desc {
    padding-right: 20%;
    position: relative;
    top: 50px;

    &__logo {
      text-align: right;

      img {
        height: 100px;
      }
    }

    &__about {
      text-align: justify;
      line-height: 1.5;
      font-size: 18px;
      color: #9E8888;
    }
  }
}
