.nav {
  position: absolute;
  right: 0%;
  top: 180px;
  z-index: 5;
  transform: rotate(90deg);

  &__item {
    font-size: 18px;
    color: #9E8787;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transform: scaleY(1);
    transform-origin: top;
    display: inline-block;
    opacity: 0.2;

    &.is-active {
      opacity: 1;
      transition: opacity 1s;
    }
  }
}
